* :not(ol){
    box-sizing: border-box;
    padding: 0;
    margin: 0;

  } 
  body {
      background-image: url(../images/fondo.jpg);
  }
  header {
      position: sticky;
      top: 10px;
      margin-bottom: 25px;
      min-height: 10vh;
  } 
  main {
      min-height: 75vh;
  }
  footer {
      min-height:15vh ;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .divNav {
    display: flex;
    justify-content: space-around;
 
  }
.divTitles {
      display: flex;
      flex-direction: column;
      align-items: center;

  }
h2 {
   
    font-family: system-ui;
    color: indianred;
    margin-bottom: 2rem;
}
h3 {
    font-family: sans-serif;
    color: darkgoldenrod;
}
  nav>a {
    color: rgb(204, 156, 98);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
  }
  nav>a:hover {
    color: aqua;
    border-radius: 10px;
    background-color:rgb(189, 104, 104) ;
}
  .cajaLogo {
      width: 49%;
      display: inline-block;
}
  .logoImg {
      margin-left: 18rem;
      width: 5rem;
}
h1 {
    font-size: 35px;
    color: rgb(48, 95, 197);
    display: flex;
    justify-content: center;
}

p {
    font-family: system-ui;
    color: currentColor;
}
a {
    font-family: sans-serif;
    text-decoration: none;
    color: currentColor;
}
.sectionHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.imgHome {
    width: 55rem;
    height: 25rem;
    border-radius: 10px;
}
.sectionHome2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}
.imgHome2 {
    width: 25rem;
    border-radius: 10px;

}
.textHome {
    width: 30rem;

}    
.cajaImg {
    display: inline-block;
    width: 49%;
    height: 100%;
}
.cajaTexto {
    width: 49%;
    display: inline-block;
}
footer {
    height: 6vw;
}
.articleAbout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;

}
.aboutImg {
    width: 20rem;
    border-radius: 10px;
  
}
.aboutImg1 {
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
  
}
.aboutText {
   width: 20rem;
}
.section1 {
    height: 5rem;
}
.articleContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.contactImg {
    width: 45rem;
    margin-bottom: 1rem;
}
.contactText {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(158, 109, 34);
}
.divContact {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.sectionTable {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
th {
    color: rgb(180, 114, 66);
    font-size: 1.2rem;
    font-weight: 600;
}
tr {
    font-size: 16px;
    font-weight: 500;
    font-family: monospace;
}
table,tr,th,td {
    text-align: center;
    height: 10rem;
    width: 40rem;
    border: 1px solid rgb(93, 204, 198);
   
}
.boxTable {
    border-radius: 15px;
    border: 4px solid rgb(93, 204, 198);
    border-spacing: 0px;

}


/* benefitsTips style */

ul>li  {
    list-style-type: disclosure-closed;
    width: 18rem;
    color: rgb(180, 114, 66);
    font-size: 1.5rem;
    font-weight: 600;
    
}
ol {
    margin-top: 1.5rem;
}
 ol>li {
    list-style: square;
    color: black;
    margin-left: -2rem;
    font-size: 15px;
    font-weight: 500;
    font-family: monospace;
 }

.benefitsDiv {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 4rem;
}
.benefitsImg {
    width: 20rem;
    border-radius: 10px;
}
